name: Build Binaries with GoReleaser

on:
  push:
    tags:
      - "v*.*.*"

env:
  GO_VERSION: "1.20"

jobs:

  build:
    name: GoReleaser build

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}/go/src/github.com/lenye/chatgpt_reverse_proxy

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          path: go/src/github.com/lenye/chatgpt_reverse_proxy

      - name: Set up Go ${{ env.GO_VERSION }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          version: latest
          args: release --clean
          workdir: go/src/github.com/lenye/chatgpt_reverse_proxy
        env:
          GITHUB_TOKEN: ${{ secrets.GO_RELEASER_GITHUB_TOKEN }}
